{% block content %}
{% load static %}
<title> Account Login </title>

<style>
  .card-body{
    background-color: #fff;
  }

  section{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
</style>
<link  rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<section id="login" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div >
            <div class="details text-center">
              <h3>Pay for your Products</h3>
            <div class="card-body">
              <!-- Alerts -->
              {% include 'partials/_alerts.html' %}
                <form method="POST" class="p-3">
                  {% csrf_token %}

                <div class="form-group">
                  <input type="number" name="phone" class="form-control mb-4" required placeholder="Phone (254...)">
                </div>

                <div class="form-group">                
                  <input type="number" name="amount" class="form-control" required value="{{amount}}">
                </div>

                <div class="text-center text-lg-start mt-4 pt-2">
                  <button type="submit" class="btn btn-primary btn-lg"
                    style="padding-left: 2.5rem; padding-right: 2.5rem;">PAY</button>
                 
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}