{% extends 'base.html' %} 

{% load humanize %}

{% block title %} | Welcome {% endblock %}

{% block content %}



<!--Start json_script to be parsed -->
{{listing_ids|json_script:"listing_ids"}} 
<!-- End json_script to be parsed -->

<!-- Sub banner start -->
<div class="sub-banner">
    <div class="container">
        <div class="breadcrumb-area">
            <h1>Shop Cart</h1>
            <ul class="breadcrumbs">
                <li><a href="index.html">Home</a></li>
                <li class="active">Shop Cart</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub banner end -->

<!-- Shop cart start -->
<div class="shop-cart content-area-2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-2">
                    <h4>Shopping Cart</h4>
                    <p>Lorem ipsum dolor sit amet, consectetu radipisi</p>
                </div>
            </div>
           
            <div class="col-lg-8">
                <table class="shop-table cart">
                    <thead>
                    <tr>
                        <th  class="product-name">Property</th>
                        <th class="product-price">Description</th>
                        <th class="product-price">Price</th>
                        <th class="product-quantity">Qty</th>
                        <th class="product-subtotal">Total</th>
                        <th class="product-remove">&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for item in favouriteitems %}
                            <tr>
                                <td class="product-thumbnail"><img style="object-fit: cover; border-radius: 5%;" src="{{item.listing.photo_main.url}}" alt="shop-1" width="50px" height="50px"></td>

                                <td class="product-name">
                                    <a href="{% url 'shop_detail' item.listing.id %}">{{item.listing.title}}</a>
                                </td>
                                <td>Ksh {{item.listing.price}}</td>
                                <td><input id="qty" class="qty" type="text" value="{{item.quantity}}"></td>
                                <td>Ksh {{item.listing.price}}</td>
                                <td class="product-remove"><button class="btn btn-border btn-sm" id="del" value="{{item.listing.id}}" title="Remove from cart"><i class="fa fa-close"></i></button></td>
                            </tr>
                        {% endfor %}
               
                
                    </tbody>
                </table>
            </div>
            <div class="col-lg-4">
                <div class="cart-total-box bg-white hdn-mb-30 mb-30">
                    <h5>Cart Totals</h5>
                    <hr>
                    <ul>
                        <li>
                            Subtotal<span class="pull-right">Ksh {{favourite.total_price}}</span>
                        </li>
                        <li>
                            Local Delivery <span class="pull-right">Free Delivery</span>
                        </li>
                 
                    </ul>
                    <hr>
                    <p class="mar-b-50">
                        Grand Total<span class="pull-right">Ksh {{favourite.total_price}}</span>
                    </p>
                    <br>

                    <button class="btn btn-dark btn-block btn-md" type="submit">Update Cart</button>
                    <button id="update" class="btn btn-color btn-block btn-md" type="submit">Proceed To Checkout</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Shop cart end -->



<script>
    
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

const csrftoken = getCookie('csrftoken');


//Remove cart
const deleteBtns = document.querySelectorAll('#del')
const updateBtn = document.getElementById("update")

deleteBtns.forEach(btn=>{
    btn.addEventListener('click', (e)=>{
        const listing_id = e.target.value;
        const url = "/remove_cart/";
        const data = { id: listing_id }
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken
            },

            body: JSON.stringify(data)
        })
        .then(response=>response.json())
        .then(data=>{
            location.reload()
        })

    })
})




// const quantityBtns = document.getElementById("qty")

// quantityBtns.forEach(btn => {
//     btn.addEventListener('change', (e)=>{
//     const finalQuantity = e.target.value
//     if (finalQuantity>0){

//         updateBtn.addEventListener('click', (e)=>{
//         const listing_id = e.target.value;
//             const url = "/update_cart/";
//             const data = { id: listing_id, new:newQuantity }
//             fetch(url, {
//                 method: 'POST',
//                 headers: {
//                     'Content-Type': 'application/json',
//                     'X-CSRFToken': csrftoken
//                 },

//                 body: JSON.stringify(data)
//             })
//             .then(response=>response.json())
//             .then(data=>{
//                 location.reload()
//             })

//     })


//     }})
// })

        
  


</script>

<!-- External JS libraries -->
<script src="assets/js/jquery-2.2.0.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.selectBox.js"></script>
<script src="assets/js/rangeslider.js"></script>
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<script src="assets/js/jquery.filterizr.js"></script>
<script src="assets/js/wow.min.js"></script>
<script src="assets/js/backstretch.js"></script>
<script src="assets/js/jquery.countdown.js"></script>
<script src="assets/js/jquery.scrollUp.js"></script>
<script src="assets/js/particles.min.js"></script>
<script src="assets/js/typed.min.js"></script>
<script src="assets/js/dropzone.js"></script>
<script src="assets/js/jquery.mb.YTPlayer.js"></script>
<script src="assets/js/leaflet.js"></script>
<script src="assets/js/leaflet-providers.js"></script>
<script src="assets/js/leaflet.markercluster.js"></script>
<script src="assets/js/slick.min.js"></script>
<script src="assets/js/maps.js"></script>
<script src="assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0N5pbJN10Y1oYFRd0MJ_v2g8W2QT74JE"></script>
<script src="assets/js/ie-emulation-modes-warning.js"></script>
<!-- Custom JS Script -->
<script  src="assets/js/app.js"></script>

{% endblock %}