{% extends 'base.html' %} 


{% block title %} | Welcome {% endblock %}

{% block content %}



<!-- Sub banner start -->
<div class="sub-banner">
    <div class="container">
        <div class="breadcrumb-area">
            <h1>Shop Details</h1>
            <ul class="breadcrumbs">
                <li><a href="index.html">Home</a></li>
                <li class="active">Shop Details</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub banner end -->

<!-- Shop details start -->
<div class="car-details-page content-area shop-details shop-single content-area-2">
    <div class="container">
        <div class="col-lg-12">
            <div class="row shop-info">
                <div class="col-xl-5 col-lg-6 col-pad">
                    <div id="propertiesDetailsSlider" class="carousel properties-details-sliders slide">
                        <!-- main slider carousel items -->
                        <div class="carousel-inner">
                            <div class="active item carousel-item" data-slide-number="0">
                                <img src="{{ listing.photo_main.url }}" class="img-fluid" alt="shop-1">
                            </div>
                            <div class="item carousel-item" data-slide-number="1">
                                <img src="{{ listing.photo_main.url }}" class="img-fluid" alt="shop-2">
                            </div>
                            <div class="item carousel-item" data-slide-number="2">
                                <img src="{{ listing.photo_main.url }}" class="img-fluid" alt="shop-3">
                            </div>
                            <div class="item carousel-item" data-slide-number="4">
                                <img src="{{ listing.photo_main.url }}" class="img-fluid" alt="shop-4">
                            </div>
                            <div class="item carousel-item" data-slide-number="5">
                                <img src="{{ listing.photo_main.url }}" class="img-fluid" alt="shop-5">
                            </div>

                            <a class="carousel-control left" href="#propertiesDetailsSlider" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                            <a class="carousel-control right" href="#propertiesDetailsSlider" data-slide="next"><i class="fa fa-angle-right"></i></a>
                        </div>
                        <!-- main slider carousel nav controls -->
                        <ul class="carousel-indicators smail-properties list-inline nav nav-justified">
                            <li class="list-inline-item active">
                                <a id="carousel-selector-0" class="selected" data-slide-to="0" data-target="#propertiesDetailsSlider">
                                    <img src="{{ listing.photo_main.url }}" class="img-fluid" alt="shop-1">
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a id="carousel-selector-1" data-slide-to="1" data-target="#propertiesDetailsSlider">
                                    <img src="{{ listing.photo_main.url }}" class="img-fluid" alt="shop-2">
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a id="carousel-selector-2" data-slide-to="2" data-target="#propertiesDetailsSlider">
                                    <img src="{{ listing.photo_main.url }}" class="img-fluid" alt="shop-3">
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a id="carousel-selector-3" data-slide-to="3" data-target="#propertiesDetailsSlider">
                                    <img src="{{ listing.photo_main.url }}" class="img-fluid" alt="shop-4">
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a id="carousel-selector-4" data-slide-to="4" data-target="#propertiesDetailsSlider">
                                    <img src="{{ listing.photo_main.url }}" class="img-fluid" alt="shop-5">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-6 col-pad">
                    <div class="inner">
                        <h3>{{listing.title}}</h3>
                        <div class="price">
                            <del>$2100</del>${{listing.price}}
                        </div>
                        <div class="ratings">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <span>(65 Reviews)</span>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam erat volutpat. Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis massa faucibus feugiat. In fermentum facilisis massa, a consequat purus viverra a. Aliquam pellentesque nibh et nibh feugiat gravida. Maecenas ultricies. Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis massa faucibus feugiat.</p>
                        <form>
                            <div class="row">
                                <div class="col-4 form-group">
                                    <input type="number" class="form-control" id="quantity" name="quantity" min="1" max="9">
                                </div>
                                <div class="col-8 form-group">
                                    <button class="btn btn-block btn-md btn-theme">Add to cart</button>
                                </div>
                            </div>
                        </form>
                        <P>Category: <a href="#">Car</a> Tags:<a href="#">Accessories</a>,<a href="#">Detector</a>,<a href="#">Electronics</a></P>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-12 col-xs-12">
                <div class="car-details-section">
                    <!-- Car description start -->
                    <div class="car-description mb-50">
                        <div class="heading-2">
                            <h4>Description</h4>
                        </div>
                        <p>{{listing.description}}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="sidebar-right">
                   
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-2">
                    <h4>Related Products</h4>
                </div>
            </div>
            {% for related in listings %}
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="shop-box">
                    <div class="shop-theme">
                        <img class="shop-theme" style="object-fit: cover;" width="100px" height="200px" src="{{ related.photo_main.url }}" alt="shop">
                        <div class="price-box">
                            <span class="del"><del>$950.00</del></span>
                            <br>
                            <span>${{related.price}}</span>
                        </div>
                    </div>
                    <div class="shop-details">
                        <h5><a href="{% url 'shop_detail' related.id %}">{{related.title}}</a></h5>
                        <a class="btn btn-border btn-sm" href="{% url 'cart'%}" role="button">Add to Cart</a>
                    </div>
                </div>
            </div>
            {% endfor %}
          
        </div>
    </div>
</div>
<!-- Shop details end -->


<!-- Full Page Search -->
<div id="full-page-search">
    <button type="button" class="close">×</button>
    <form action="#" class="search">
        <input type="search" value="" placeholder="type keyword(s) here" />
        <button type="button" class="btn btn-sm btn-color">Search</button>
    </form>
</div>

<!-- Off-canvas sidebar -->
<div class="off-canvas-sidebar">
    <div class="off-canvas-sidebar-wrapper">
        <div class="off-canvas-header">
            <a class="close-offcanvas" href="#"><span class="fa fa-times"></span></a>
        </div>
        <div class="off-canvas-content">
            <aside class="canvas-widget">
                <div class="logo-sitebar text-center">
                    <img src="assets/img/logos/logo.png" alt="logo">
                </div>
            </aside>
            <aside class="canvas-widget">
                <ul class="menu">
                    <li class="menu-item menu-item-has-children"><a href="index.html">Home</a></li>
                    <li class="menu-item"><a href="properties-grid-leftside.html">Properties List</a></li>
                    <li class="menu-item"><a href="properties-details.html">Property Detail</a></li>
                    <li class="menu-item"><a href="blog-single-sidebar-right.html">Blog</a></li>
                    <li class="menu-item"><a href="about.html">About  US</a></li>
                    <li class="menu-item"><a href="contact-3.html">Contact US</a></li>
                </ul>
            </aside>
            <aside class="canvas-widget">
                <ul class="social-icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-vk"></i></a></li>
                </ul>
            </aside>
        </div>
    </div>
</div>

{% endblock %}