{% extends 'base.html' %} 


{% block title %} | Welcome {% endblock %}

{% block content %}

<!-- Sub banner start -->
<div class="sub-banner">
    <div class="container">
        <div class="breadcrumb-area">
            <h1>Shop List</h1>
            <ul class="breadcrumbs">
                <li><a href="index.html">Home</a></li>
                <li class="active">Shop List</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub banner end -->

<!-- Shop list start -->
<div class="shop-list content-area-2">
    <div class="container">
        <div class="heading-2">
            <h4>Shop List</h4>
        </div>
        <div class="row">
           {% for listing in listings %}
           <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="shop-box">
                <div class="shop-theme">
                    <img class="shop-theme" style="object-fit: cover;" width="100px" height="200px" src="{{ listing.photo_main.url }}" alt="shop">
                    <div class="price-box">
                        <span class="del"><del>$950.00</del></span>
                        <br>
                        <span>${{listing.price}}</span>
                    </div>
                </div>
                <div class="shop-details">
                    <h5><a href="{% url 'shop_detail' listing.id %}">{{listing.title}}</a></h5>
                    <div class="add-btn">

                        {% if listing.id in favourites %}
                            <button class="btn btn-border btn-sm"  value="{{listing.id}}" title="Remove from Cart">Remove from Cart</button>
                        {% else %}
                            <button class="btn btn-border btn-sm"  value="{{listing.id}}" title="Add to Cart">Add to Cart</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
           {% endfor %}
            
        </div>
    </div>
</div>
<!-- Shop list end -->

<!-- Footer start -->

<!-- Footer end -->

<!-- Full Page Search -->
<div id="full-page-search">
    <button type="button" class="close">×</button>
    <form action="#" class="search">
        <input type="search" value="" placeholder="type keyword(s) here" />
        <button type="button" class="btn btn-sm btn-color">Search</button>
    </form>
</div>

<!-- Off-canvas sidebar -->
<div class="off-canvas-sidebar">
    <div class="off-canvas-sidebar-wrapper">
        <div class="off-canvas-header">
            <a class="close-offcanvas" href="#"><span class="fa fa-times"></span></a>
        </div>
        <div class="off-canvas-content">
            <aside class="canvas-widget">
                <div class="logo-sitebar text-center">
                    <img src="assets/img/logos/logo.png" alt="logo">
                </div>
            </aside>
            <aside class="canvas-widget">
                <ul class="menu">
                    <li class="menu-item menu-item-has-children"><a href="index.html">Home</a></li>
                    <li class="menu-item"><a href="properties-grid-leftside.html">Properties List</a></li>
                    <li class="menu-item"><a href="properties-details.html">Property Detail</a></li>
                    <li class="menu-item"><a href="blog-single-sidebar-right.html">Blog</a></li>
                    <li class="menu-item"><a href="about.html">About  US</a></li>
                    <li class="menu-item"><a href="contact-3.html">Contact US</a></li>
                </ul>
            </aside>
            <aside class="canvas-widget">
                <ul class="social-icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-vk"></i></a></li>
                </ul>
            </aside>
        </div>
    </div>
</div>


<script>
    

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    
    const csrftoken = getCookie('csrftoken');
    
    
    
    // Add/remove favurite
    const addBtns = document.querySelectorAll(".add-btn button")
    
    addBtns.forEach(btn => {
        btn.addEventListener('click', (e) => {
    
            const listing_id = e.target.value;
            const url = "/add_cart/";
            const data = { id: listing_id }
         
          
       
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                },
    
                body: JSON.stringify(data)
            })
            .then(response=>response.json())
            .then(data=>{
                    // Reoads a section of the page(Header)
                    window.location ="/cart"
                   
                   
            })
     
    
        })
    })
    
    
    //Remove favurite
    const deleteBtns = document.querySelectorAll('#del')
    
    deleteBtns.forEach(btn=>{
        btn.addEventListener('click', (e)=>{
            const listing_id = e.target.value;
            const url = "/pages/remove_cart/";
            const data = { id: listing_id }
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                },
    
                body: JSON.stringify(data)
            })
            .then(response=>response.json())
            .then(data=>{
                location.reload()
            })
    
        })
    })
    </script>

{% endblock %}