{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Edmarks - Real Estate </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <!-- External CSS libraries -->
  
    <link  rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <link  rel="stylesheet" href="{% static '/css/magnific-popup.css' %}">
    <link  rel="stylesheet" href="{% static '/css/jquery.selectBox.css' %}">
    <link  rel="stylesheet" href="{% static '/css/dropzone.css' %}" >
    <link  rel="stylesheet" href="{% static '/css/rangeslider.css' %}">
    <link  rel="stylesheet" href="{% static '/css/animate.min.css' %}">
    <link  rel="stylesheet" href="{% static '/css/leaflet.css' %}">
    <link  rel="stylesheet" href="{% static '/css/slick.css' %}">
    <link  rel="stylesheet" href="{% static '/css/slick-theme.css' %}">
    <link  rel="stylesheet" href="{% static '/css/slick-theme.css' %}">
    <link  rel="stylesheet" href="{% static '/css/map.css' %}">
    <link  rel="stylesheet" href="{% static '/css/jquery.mCustomScrollbar.css' %}">
    <link  rel="stylesheet" href="{% static '/fonts/font-awesome/css/font-awesome.min.css' %}">
    <link  rel="stylesheet" href="{% static '/fonts/flaticon/font/flaticon.css' %}">

    <link rel="shortcut icon" href="{% static '/img/vs.png' %}" type="image/x-icon" >

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800%7CPlayfair+Display:400,700%7CRoboto:100,300,400,400i,500,700">

    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" id="style_sheet" href="{% static '/css/skins/default.css' %}">

</head>
<body id="top" class="index-5 index-body">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PDTWJ3Z"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="page_loader"></div>


<!-- Main Content -->


  {% include 'navbar.html' %}
  {% block content %} {% endblock %}
 

 

<!-- External JS libraries -->

<script src="{% static '/js/jquery-2.2.0.min.js' %}"></script>
<script src="{% static '/js/popper.min.js' %}"></script>
<script src="{% static '/js/bootstrap.min.js' %}"></script>
<script src="{% static '/js/jquery.selectBox.js' %}"></script>
<script src="{% static '/js/rangeslider.js' %}"></script>
<script src="{% static '/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static '/js/jquery.filterizr.js' %}"></script>
<script src="{% static '/js/wow.min.js' %}"></script>
<script src="{% static '/js/backstretch.js' %}"></script>
<script src="{% static '/js/jquery.countdown.js' %}"></script>
<script src="{% static '/js/jquery.scrollUp.js' %}"></script>
<script src="{% static '/js/particles.min.js' %}"></script>
<script src="{% static '/js/typed.min.js' %}"></script>
<script src="{% static '/js/dropzone.js' %}"></script>
<script src="{% static '/js/jquery.mb.YTPlayer.js' %}"></script>
<script src="{% static '/js/leaflet.js' %}"></script>
<script src="{% static '/js/leaflet-providers.js' %}"></script>
<script src="{% static '/js/leaflet.markercluster.js' %}"></script>
<script src="{% static '/js/slick.min.js' %}"></script>
<script src="{% static '/js/maps.js' %}"></script>
<script src="{% static '/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0N5pbJN10Y1oYFRd0MJ_v2g8W2QT74JE"></script>
<script src="{% static '/js/ie-emulation-modes-warning.js' %}"></script>
<!-- Custom JS Script -->
<script  src="{% static '/js/app.js' %}"></script>
</body>

</html>

{% include 'footer.html' %}