
{% load static %}

{% if messages %}
    {% for message in messages %}
        {{message}}
    {% endfor %}
{% endif %}
<!-- Top header start -->
<header class="top-header th-bg" id="top-header-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-7">
                <div class="list-inline">
                    <a href="tel:1-7X0-555-8X22"><i class="fa fa-phone"></i>+254 713 906 025 </a>
                    <a href="mailto:cyprianwetende@gmail..com"><i class="fa fa-envelope"></i>Real Estate</a>
                    <a href="#" class="mr-0"><i class="fa fa-clock-o"></i>Mon - Sun: 8:00am - 6:00pm</a>
                </div>
            </div>
            {% if user.is_authenticated %}
            <div class="col-lg-3 col-md-3 col-sm-5">
                <ul class="top-social-media pull-right">
                    <li>
                        <a href="#">Welcome {{user.username}}</a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}"  class="sign-in"><i class="fa fa-log-out"></i> Logout </a>
                    </li>
                </ul>
            </div>
            {% else %}

            <div class="col-lg-3 col-md-3 col-sm-5">
                <ul class="top-social-media pull-right">
                    <li>
                        <a href="{% url 'login' %}"  class="sign-in"><i class="fa fa-sign-in"></i> Login </a>
                    </li>
                    <li>
                        <a href="{% url 'register' %}" class="sign-in"><i class="fa fa-user"></i> Register</a>
                    </li>
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
</header>
<!-- Top header end -->

<!-- main header start -->
<header class="main-header sticky-header" id="main-header-2">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg navbar-light rounded">
                    <a class="navbar-brand logo" >
                        <img src="{% static 'img/logos/black-logo.png'%}" alt="">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="fa fa-bars"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar">
                        <ul class="navbar-nav justify-content-end ml-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="{% url 'index' %}" >
                                    Home
                                </a>
                               
                            </li>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'properties' %}" >
                                Properties
                            </a>
                            
                          
                            {% if user.is_authenticated %}

                            <li class="nav-item dropdown">
                                <a class="nav-link" href="#" id="navbarDropdownMenuLink7" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    My Account
                                </a>
                             
                                  
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a class="dropdown-item" href="{% url 'uProfile' %}">User profile</a>
                                            </li>
                                                <li>
                                                    <a class="dropdown-item" href="{% url 'mProperties' user.id %}">My Properties</a>
                                                </li>
                                        
                                            <li>
                                                <a class="dropdown-item" href="{% url 'submit' %}">Submit Property</a>
                                            </li>
                                        </ul>
                                  
                            </li>

                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'agents' %}" >
                                    Agents
                                </a>
                                
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'blog' %}">
                                    Blog
                                </a>
                                
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'shop' %}" >
                                    Shop
                                </a>
                               
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="#" >
                                    Contact
                                </a>
                            </li>
                            <li class="nav-item mt-4">
                                <a style="border-radius: 5%;"  href="{% url 'submit' %}" class="submit-btn bg-primary">
                                    Submit Property
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- main header end -->

